# Build artifacts
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
.gradle/

# Android
android/.gradle/
android/captures/
android/local.properties
android/.idea/
android/app/.cxx/
android/app/release/
**/*.apk
**/*.aab

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/App.framework
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Generated.xcconfig
ios/Runner.xcworkspace/xcuserdata/
ios/Runner.xcodeproj/xcuserdata/

# IDE
.idea/
*.iml
.vscode/
*.swp
*.lock

# OS
.DS_Store
Thumbs.db

# Generated
*.g.dart
*.freezed.dart
